//项目提供scss的全局变量

//左侧的菜单的宽度
$base-menu-width: 260px;
$base-menu-min-width: 64px;
$base-menu-background: #000;

//顶部导航的高度
$base-tabber-height: 50px;

//左侧菜单logo高度设置
$base-menu-logo-height: 50px;

//左侧菜单logo文字大小
$base-menu-logo-title-fontSize: 20px;

//左侧菜单logo文字颜色
$base-menu-logo-title-color: #fff;
